body{background-color: skyblue;}
h1{font-size: 3em; color:coral;}
#StudioArt {background-color:beige;}
#Economics {background-color: bisque;}
#Politics {background-color: burlywood;}
#Mathematics {background-color: cornsilk;}
p {font-family: cursive;}
th {border-top:4px solid #312c22; border-bottom: 4px solid #312c22; border-color: black;border-right: 4px solid #312c22; border-left: 4px solid #312c22}
tr {border-bottom:4px solid #312c22; border-top:4px solid #312c22; border-color:black;border-right: 4px solid #312c22; border-left: 4px solid #312c22; background-color: azure}
td {border-bottom: 4px solid #312c22; border-top:4px solid #312c22; border-color: black;border-right: 4px solid #312c22; border-left: 4px solid #312c22}
td.picture {border-bottom:4px solid #312c22;border-top:4px solid #312c22; border-color:black;border-right: 4px solid #312c22; border-left: 4px solid #312c22}
#ComputerScience {background-image:url("../pics/AH/Bradshaw_Michael.jpg");}
#ComputerScience h1 {color:white;}
#ComputerScience p {color:white;}

